*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
*.apk
*.aab

/dist/
syncMyShit.spec
__pycache__/
*.pyc
release-desktop/
package-linux/
package-windows/
node_modules/
.pnpm-store/


